.card-form {
    margin: 9rem auto;
    width: 500px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 150px 35px 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
    display: flex;
    flex-direction: column;

    label {
        margin-bottom: 0.5rem;
        font-weight: bold;
        text-align: left;
    }

    input,
    select {
        padding: 0.75rem;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;

        &:focus {
            border-color: #007bff;
            box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
        }
    }
}

.row {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    margin-bottom: 0.75rem;
}

.card-form__submit-btn{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 1rem;
    border-radius: 5px;
}